p {
  font-size: 14px !important;
}

input.numeric.integer {
  width: 100px !important;
}

input[type="submit"] {
  width: 80px !important;
  height: 35px !important;
}

select.chosen.chosen-select{
  width: 120px !important;
}

.text-red {
  color: red;
}
