- content_for(:page_header, @game.name)
= render({partial: 'rounds/partials/dashboard', locals: {round: @round}})

.col-lg-12
  = render({partial: 'rounds/partials/form_scores', locals: {game: @game, round: @round}})

= render(partial: 'games/partials/results_table', locals: {game: @game, round: @round})