- content_for(:page_header, 'Games')
.col-lg-12
  = render({partial: 'games/partials/game', collection: @games}) || content_tag(:p) { 'No games yet ☹' }
= link_to('New game', new_game_path, class: 'btn btn-primary')
