- content_for(:page_header, 'Add players')
.col-lg-12
  %section.panel.panel-default
    %section.panel-body
      = simple_form_for(@game, url: wizard_path(:players), method: :put) do |f|
        = f.association :players, as: :multi_select, include_blank: false
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          .col-sm-4.col-sm-offset-2
            = primary_button(f)
