%h3 Players
= simple_form_for(@game, url: wizard_path(:players), method: :put) do |f|
  = f.association :players, as: :multi_select, include_blank: false
  = primary_button(f)

-#= link_to('Next step', next_wizard_path)