!!!
%html
  = render(partial: 'layouts/partials/head')
  %body
    %section.vbox
      = render(partial: 'layouts/partials/navigation')
      %section
        %section.hbox.stretch
          %section#content
            %section.vbox
              %section
                -#.row
                %section.hbox.stretch
                  -#.col-sm-4
                  .col-lg-2
                  -#.col-sm-8
                  .col-lg-8
                    = render(partial: 'layouts/partials/header')
                    - if alert
                      .hidden{data: {'class-binder': 'GrowlFlash', 'messages': growl_flash.to_json}}
                    %section.scrollable.wrapper
                      .row
                        = yield
                  -#.col-sm-4
                  .col-lg-2

-#= title