!!!
%html
  = render(partial: 'layouts/partials/head')
  %body
    .container
      = render(partial: 'layouts/partials/navigation')
      .jumbotron
        = render(partial: 'layouts/partials/alert', locals: {message: alert}) if alert
        = yield

-#= title